---
import LinkButton from "../ui/linkButton.astro";
import waves from "../../assets/backgrounds/waves.svg";
import { Image } from "astro:assets";

import exteriorPainting from "../../assets/images/exteriorPaintingCard.jpeg";
import interiorPainting from "../../assets/images/interiorPaintingCard.jpeg";
import drywallRepair from "../../assets/images/drywallRepairCard.jpeg";
import powerWashing from "../../assets/images/powerWashingCard.jpeg";

import colorPalete from "../../assets/colorPalete.ts";
import { Icon } from "astro-icon/components";

const emerald950 = colorPalete.emerald[950];
const emerald500 = colorPalete.emerald[500];
---

<section class="flex flex-col gap-10 bg-emerald-500 *:w-full *:bg-gray-50 p-5">
    <div class="relative border-4 border-gray-800 rounded-sm">
        <Image
            alt="Exterior painting services by George the Painter"
            src={exteriorPainting}
            class="object-cover h-96 w-full"
        />
        <div
            class="flex flex-col gap-5 absolute bottom-0 bg-gray-700 text-gray-50 px-10 pt-2 text-center"
        >
            <span class="text-lg">
                We bring vibrancy and protection to your home's exterior with
                <b>quality paints</b> and skilled craftsmanship.
            </span>
            <a href="/exterior-painting" class="text-lg bg-gray-800 group"
                ><i
                    class="text-3xl font-antonio group-hover:underline decoration-emerald-500"
                    >Exterior Painting
                    <Icon
                        name="longArrow"
                        class="inline rotate-90 group-hover:translate-x-5 group-hover:stroke-emerald-500 transition"
                    />
                </i>
            </a>
        </div>
    </div>
    <div class="relative border-4 border-gray-800 rounded-sm">
        <Image
            alt="Exterior painting services by George the Painter"
            src={interiorPainting}
            class="object-cover h-96 w-full"
        />
        <div
            class="flex flex-col gap-5 absolute bottom-0 bg-gray-700 text-gray-50 px-10 pt-2 text-center"
        >
            <span class="text-lg">
                Transform your space with a fresh coat of paint !,
                Our interior painting services bring your vision to life.
            </span>
            <a href="/exterior-painting" class="text-lg bg-gray-800 group"
                ><i
                    class="text-3xl font-antonio group-hover:underline decoration-emerald-500"
                    >Interior Painting
                    <Icon
                        name="longArrow"
                        class="inline rotate-90 group-hover:translate-x-5 group-hover:stroke-emerald-500 transition"
                    />
                </i>
            </a>
        </div>
    </div>
</section>
