<html lang="en" class="bg-white-50">
    <body class="h-screen flex flex-col">
       
        <slot />
     
    </body>
</html>
<style>
    body{
        font-family: "Inter", sans-serif;
        font-display: swap;
    }
</style>