---
import Header from "../global/Header.astro";
import Footer from "../global/Footer.astro";
---

<html lang="en" class="bg-white">
    <body class="text-gray-950">
        <Header />
        <slot />
        <Footer/>
    </body>
</html>
<style>
    body{
        font-family: "Inter", sans-serif
    }
</style>
