---
interface Props {
    url: string, 
    title: string, 
    classes: string,
    label: string
}

const {classes, url, title, label} = Astro.props
---
<a href={url} aria-label={label}>
    <button class:list={[" uppercase", classes ]}>
        {title}
    </button>
</a>