---
import { Icon } from "astro-icon/components";
---

<div class="w-full flex justify-end sticky bottom-0 mt-5 z-10">
    <div
        class=" flex mr-5 mb-5 w-fit px-5 py-1 rounded-full float-end bg-emerald-500 items-center"
    >

<a href="https://api.whatsapp.com/send?phone=19738865345" target="_blank" class="px-2 text-white hover:text-emerald-800"><Icon name="whatsapp" title="Contact us via Whatsapp" class="text-4xl"/></a>
<a href="mailto:info@george-the-painter.com" target="_blank" class="px-2 text-white hover:text-emerald-800"><Icon name="mail" title="Contact us via Email" class="text-4xl"></a>
<a href="tel:+19738865345" target="_blank" class="px-2 text-white hover:text-emerald-800"><Icon name="phone" title="Contact us via phone" class="text-4xl" ></a>
    </div>
</div>
