---
import logo from "../../assets/logo.svg";
import ServicesDropdown from "./ServicesDropdown.tsx"
---

<header
    class="py-3 flex justify-between items-center sticky top-0 z-50 bg-white/50 backdrop-blur-sm"
>
    <figure class="w-20 sm:w-32">
        <a href="/">
            <img src={logo.src} class="w-14 mx-auto" alt="George the painter logo"/>
        </a>
    </figure>

    <nav
        class="flex-grow bg-gray-800 rounded-s-full flex justify-between m-1.5 mr-0 sm:pl-10 sm:text-base md:text-lg lg:text-xl items-center py-2 font-semibold text-lg *:transition"
    >
        <ServicesDropdown client:load/>

        <div class="hidden flex-grow md:flex justify-between">
            <a href="/exterior-painting" class="hover:text-emerald-300">Exterior painting</a>
            <a href="/interior-painting" class="hover:text-emerald-300">Interior painting</a>
            <a href="/power-washing" class="hover:text-emerald-300">Power washing</a>
            <a href="/drywall-repair" class="hover:text-emerald-300">Drywall repair</a>
        </div>
        <a
            href="/contact-form"
            class="bg-emerald-600 px-5 hidden sm:block md:px-10 mx-5 md:mx-10 rounded-full py-1 text-base md:text-xl text-center hover:scale-105"
            >Get free estimate</a
        >
        <a
            href="/contact-form"
            class="bg-emerald-600 px-5 block sm:hidden  mx-auto rounded-full py-1 text-base text-center hover:scale-105 whitespace-nowrap"
            >GET QUOTE</a
        >
    </nav>
</header>

<style>
    a {
        font-weight: 600;
        color: white;
    }
    * {
        color: white;
    }
    
</style>
